* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #fff;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}
